<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

</head>

<body>
    <!---------------------------------------------HOME--------------------------------------------->
    <div id = "home">
        <nav id="menu">
            <a (click)="goRecipe()" class="icon"><img src="https://i.gyazo.com/3e310c766e30fa574cb9f5a3f93f32dc.png" alt="Icono que nos permite añadir la receta." class="icon"></a>
            <a (click)="goHome()"  class="icon"><img src="https://i.gyazo.com/6c9fa697c589f06b06c27ff1693bfa97.png" alt="Icono que nos envía a la página de inicio." class="icon"></a>   
            <a (click)="goCart()" class="icon"><img src="https://i.gyazo.com/32239d179ec361080f32195fd7e33b49.png" alt="Icono que nos permite ir al carrito." class="icon"></a>
        </nav>
        
        <div id="tittle_div">
            <h1 class="tittle_font" alt="FarmaYa!">
                Farma<span id="red">Ya!</span>
            </h1>
        </div>


        <div id="search_product_box">
            <input type="text" name="filterProduct" placeholder="Buscar un producto..." [(ngModel)]="filterProduct" id="placeholder_text_font" alt="Barra de búsqueda del producto">
        </div>

        <div id = "grid_table">
            <div *ngFor="let product of products | filter: filterProduct">
                <div class="product_div">
                    <p class="text_font">{{product.name}}</p>
                    <img src={{product.photo}} class="img_product" alt="imagen de {{product.name}}">
                    <p class="text_font" alt="precio del producto">{{product.price | currency:'EUR':true}}</p>
                    <div class ="grid_options">
                        <button class="remove_button" (click)="removeUdsHome(product.id)" alt="botón de restar unidades del producto">-</button>
                        <p>{{product.uds}} uds</p>
                        <button class="add_button" (click)="addUdsHome(product.id)" alt="botón de añadir unidades del producto">+</button>
                    </div>
                    <br>
                    <button (click)="addToCartHome(product.id)" class="add_cart_button" alt="botón de añadir al carrito el producto">Añadir</button>
                </div>
            </div>
        </div>
    </div>
    <!---------------------------------------------RECIPE--------------------------------------------->
    <div id="recipe">
        <nav id="menu">
            <a (click)="goHome()" class="icon"><img src="https://i.gyazo.com/6c9fa697c589f06b06c27ff1693bfa97.png" alt="Icono que nos envía a la página de inicio." class="icon"></a>
            <p  id="recipe_font">Receta de Concepción</p>   
            <a (click)="goCart()" class="icon"><img src="https://i.gyazo.com/32239d179ec361080f32195fd7e33b49.png" alt="Icono que nos permite ir al carrito." class="icon"></a>
        </nav>
        
        <div id="tittle_div">
            <h1 class="tittle_font">
                Farma<span id="red">Ya!</span>
            </h1>
        </div>

        <div id = "grid_table">
            <div *ngFor="let product of recipe_products">
                <div class="product_div">
                    <p class="text_font">{{product.name}}</p>
                    <img src={{product.photo}} class="img_product" alt={{product.name}}>
                    <p class="text_font">{{product.price | currency:'EUR':true}}</p>
                    <div class ="grid_options">
                        <button class="remove_button" (click)="removeUdsRecipe(product.id)" >-</button>
                        <p>{{product.uds}} uds</p>
                        <button class="add_button" (click)="addUdsRecipe(product.id)">+</button>
                    </div>
                    <br>
                    <button (click)="addToCartRecipe(product.id)" class="add_cart_button">Añadir</button>
                </div>
            </div>
        </div>
    </div>
    <!---------------------------------------------CART--------------------------------------------->
    <div id="cart">
        <nav id="menu">
            <a (click)="goHome()" class="icon"><img src="https://i.gyazo.com/6c9fa697c589f06b06c27ff1693bfa97.png" alt="Icono que nos envía a la página de inicio." class="icon"></a>
            <p id="cart_font">Carrito de Concepción</p>
            <a (click)="goRecipe()" class="icon"><img src="https://i.gyazo.com/3e310c766e30fa574cb9f5a3f93f32dc.png" alt="Icono que nos permite añadir la receta." class="icon"></a>
        </nav>
        
        <div id="tittle_div">
            <h1 class="tittle_font">
                Farma<span id="red">Ya!</span>
            </h1>
        </div>
    
        <div id = "table_div">
            <div *ngFor="let product of cart_products" class="cart_prod">
                <img src = {{product.photo}} class="img_product2" alt={{product.name}}>
                <p class="product_name">{{product.name}}</p>
                <p class="cart_uds">{{product.uds}} uds</p>
                <p class="cart_total_prize">Total: {{product.price * product.uds | currency:'EUR':true}}</p>
                <a (click)="removeProd(product.id)">
                    <img class="trashcan_icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAYAAAA4qEECAAAABmJLR0QA/wD/AP+gvaeTAAACV0lEQVR4nO2bMU4bURCGv1BgiESdhOQ+KAU3gTrOJSIlgESNlKuEklS5AlQQBSuxKSAFRqysXby7MzueXf+fNB1vNPPxeN59g0EIIYQQQgghRG22gC/AFfDQMC7na7fCq+4h32gueDG+hlfdM14BN9hF/57nGgyvgRMeG7PKyRo3wDGw7eSsFaesXkRUnFpEWf68NoAJK/5NB/IX2AHu2yze8K1FVGERfQ+ceRXSA85ouZs92AaO8HlSyBrXPD5yrssRKYQQQohe43nx8uCYKxMujvRmGIREByHRQUh0EBIdhEQHIdFBSHQQEh2ERAch0UFIdBASHYREB5FF9B0wBt7NYwzMWuSZleS5c6oxDZaR/qeSfB+BaYMc0/maRcbG2tJhaeZtRc494F+N9TNgvyLHG2Nt6ehCNCyX/ZJkgF1jbemwNDNekrvqGKk6Lop8NtaWDkszdYQtym6zZu1F1zkC4PkYafKz1rrSYW2oyS6N2MmDFl13Z7+E104evGiLbG/JgxfdRnYXktdCdBPZXUl2E53lrkM0QEdHEKuU/IQ+DBuEHu+W4NGUXlhqELGT9QpOzE7WpRK2ZsomLEUs16SasBSiy4t/TVgK0eUoSxOWQpRNWLyGs5qwFKLs3wTafIhNS/LMjLW5oK+/LUdff+sTEh2ERAch0UFIdBASHYREByHRQXiKnjjmysIfr0Seon855sqCW0+eor875spCyp5GwE9sFziZ4gLYdDXkyAeGIfsCeO/sxp0RcAicA7esXlrduAV+AAck3slCCCGEEEIIIYQQGfgP07jxE2GreJwAAAAASUVORK5CYII="/>
                </a>
            </div>
        </div>
        
        <p id="total_prize">Total de todos los productos {{totalprice() | currency:'EUR':true}}</p>


        <div class="centro">
            <button id="boton_compra_final" (click) = buyAll()> Comprar ahora</button>
        </div>

        <div class="centro">
            <button id="boton_sub_final" (click) = subscribeAll()> Añadir a la suscripción</button>
        </div>
    </div>

    
</body>



</html>